<h2> Liste </h2>

<table>
    <tr>
        <th>Nom</th>
        <th>Mouvement</th>
        <th>Thoughness</th>
        <th>Save</th>
        <th>Wound</th>
        <th>Leadership</th>
        <th> Objective Control</th>
    </tr>
    <tr>
        <th>{{dunecrawler.name}}</th>
        <th>{{dunecrawler.movement}}</th>
        <th>{{dunecrawler.toughtness}}</th>
        <th>{{dunecrawler.save}}</th>
        <th>{{dunecrawler.wound}}</th>
        <th>{{dunecrawler.leadership}}</th>
        <th>{{dunecrawler.objectiveControl}}</th>
    </tr>
</table>